notebooks/aspects/models/**/*.pickle filter=lfs diff=lfs merge=lfs -text
notebooks/aspects/models/**/*.pkl filter=lfs diff=lfs merge=lfs -text
notebooks/aspects/models/**/*.bin filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
notebooks/aspects/data/** filter=lfs diff=lfs merge=lfs -text
*.html linguist-generated=true
*.ipynb linguist-generated=true
*.tex linguist-generated=true
