# Игнорировать виртуальное окружение
.venv/
venv/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Игнорировать файлы IDE
.vscode/
.idea/
.ipynb_checkpoints

# Игнорировать другие ненужные файлы
*.log
*.sqlite3
*.env

# Игнорируются папки
logs/
