# Игнорировать виртуальное окружение
.venv/
venv/
*.env

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# IDE files
.vscode/
.idea/
.ipynb_checkpoints

# Other redudant files
paper/main.toc
paper/main.log
paper/main.aux
paper/main.out
paper/main.bbl
paper/main.bcf
paper/main.blg
paper/main.run.xml
paper/main.synctex.gz

# Data files
*.sqlite3
batch_*.parquet
articles.parquet
failed.parquet
all_in_one.ipynb

# Игнорируются папки
logs/
*.log
