# Игнорировать виртуальное окружение
.venv/
venv/
*.env

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# IDE files
.vscode/
.idea/
.ipynb_checkpoints

# Other redudant files
*.toc
*.log
*.aux
*.out
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz

# Data files
*.sqlite3
*.npy
batch_*.parquet
articles.parquet
failed.parquet
all_in_one.ipynb

# Игнорируются папки
logs/
*.log