transformers==4.49.0
torch==2.6.0
torchvision
tensorboard
bertopic==0.16.4
pandas==2.2.3
polars==1.25.2
jupyterlab==4.3.5
ipywidgets==8.1.5
widgetsnbextension==4.0.13
tqdm==4.67.1
aiohttp==3.11.13
Brotli==1.1.0
ua_generator==2.0.3
selectolax==0.3.28
alpha_vantage==3.0.0